.markdown-body:before {
  display: table;
  content: "";
}

.markdown-body:after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body>*:first-child {
  margin-top: 0;
}

.markdown-body>*:last-child {
  margin-bottom: 0;
}
